
<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        window.onload = function () {
            if (!sessionStorage['firstLoad']) {
                sessionStorage['firstLoad'] = true;
                window.location.reload();
            }
        };
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BaseHA</title>

    <link rel="apple-touch-icon" href="~/Content/global/img/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/Content/global/img/favicon.ico" />

    <!-- Plugins Styles -->
    <link href="~/Content/bundles/css/admin-plugins.min.css?version=1.0.0.0" rel="stylesheet" />

    <!-- Theme Styles -->
    <link href="~/Content/bundles/css/admin-theme.min.css?version=1.0.0.0" rel="stylesheet" type="text/css" />
    <!-- Custom Styles -->
    <link href="~/Content/bundles/css/app-custom.min.css?version=1.0.0.0" rel="stylesheet" />
    <link href="~/Content/bundles/css/admin-custom.min.css?version=1.0.0.0" rel="stylesheet" type="text/css" />

    <!-- Head Scripts -->
    <script src="~/Content/bundles/js/admin-head-scripts.js?version=1.0.0.0"></script>

    <script src="/Content/global/plugins/kendo-ui/js/cultures/kendo.culture.vi-VN.min.js?version=1.0.0.0"></script>
    <script src="~/Content/global/plugins/kendo-ui/js/messages/kendo.messages.vi-VN.min.js?version=1.0.0.0"></script>
    <script>kendo.culture("vi");</script>
    <script src="@("/Content/global/plugins/globalize/cultures/globalize.culture.vi-VN.js")"></script>
    <script>$.fn.select2.defaults.set('theme', 'bootstrap');</script>

    @{
        await Html.RenderPartialAsync("_Enums");
    }
    @{
        await Html.RenderPartialAsync("_LocaleStringResources");
    }
    <script src="~/Content/bundles/js/app-declares.js?version=1.0.0.0" type="text/javascript"></script>
    <script src="~/Content/bundles/js/admin-declares.js?version=1.0.0.0" type="text/javascript"></script>

</head>
<body class="h-layout page-quick-sidebar-over-content page-content-white page-md page-full-width">

    <!-- Loader -->
    <div class="page-loader">
        <svg class="amz-spinner" width="65px" height="65px" viewBox="0 0 66 66">
            <circle class="path" fill="none" stroke-width="2" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <!-- Header -->
    <div class="page-header navbar navbar-static-top">
        <div class="page-header-inner">
            <div class="page-logo">
                <a href="/Admin">
                    <img src="https://hanoicomputercdn.com/media/lib/09-08-2023/logo-hacom-since-2001.png" alt="logo" class="logo-default">
                </a>
            </div>
            <div id="admin_hMenu" class="hor-menu hor-menu-light hidden-sm hidden-xs">
                <ul class="nav navbar-nav">
                    <li class="classic-menu-dropdown active">
                        <a href="/Admin">
                            <i class="fa flaticon-home-1"></i>
                            <span class="navbar-label">Trang chủ</span>
                            <span class="selected"></span>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="/Admin/Home/ViewStationByArea">
                                    <i class=""></i> Tài nguyên trạm
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="classic-menu-dropdown">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true" class="hover-initialized" aria-expanded="false">
                            <i class="fa flaticon2-warning"></i>
                            <span class="navbar-label">Chatbot</span>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a asp-action="Index" asp-controller="Category">
                                    <i class=""></i> Phân loại kịch bản
                                </a>
                            </li>
                            <li>
                                <a asp-action="Index" asp-controller="Intent">
                                    <i class=""></i> Phân loại ý định
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/StationTicket">
                                    <i class=""></i> Ticket trạm
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/StationTicket/viewIndexHTE">
                                    <i class=""></i> Ticket trạm (HTE)
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/TroubleTicket">
                                    <i class=""></i> Ticket vấn đề
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="classic-menu-dropdown">
                        <a href="javascript:;">
                            <i class="fa flaticon2-send-1"></i>
                            <span class="navbar-label">Quản lý</span>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a asp-action="Index" asp-controller="Home">
                                    <i class=""></i> Quản lý kho
                                </a>
                            </li>
                            <li>
                                <a asp-action="Index" asp-controller="Unit">
                                    <i class=""></i> Quản lý đơn vị tính
                                </a>
                            </li>
                           
                        </ul>
                    </li>
@*                     <li class="classic-menu-dropdown">
                        <a href="javascript:;">
                            <i class="fa flaticon2-send-1"></i>
                            <span class="navbar-label">FTTH</span>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="/Admin/ParitcularFtth">
                                    <i class=""></i> Sự cố lẻ
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/WideFtth">
                                    <i class=""></i> Sự cố diện rộng
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/FtthProject">
                                    <i class=""></i> Dự án
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/FtthCustomer">
                                    <i class=""></i> Khách hàng
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="classic-menu-dropdown">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true" class="hover-initialized" aria-expanded="false">
                            <i class="fa flaticon-list-3"></i>
                            <span class="navbar-label">Danh mục</span>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="/Admin/Channel">
                                    <i class=""></i> Danh sách kênh
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/ChannelCategory">
                                    <i class=""></i> Loại kênh
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/NetworkLink">
                                    <i class=""></i> Danh sách link mạng
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/NetworkLinkCategory">
                                    <i class=""></i> Loại link mạng
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/Device">
                                    <i class=""></i> Danh sách thiết bị
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/DeviceCategory">
                                    <i class=""></i> Loại thiết bị
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/Station">
                                    <i class=""></i> Danh sách trạm
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/StationCategory">
                                    <i class=""></i> Loại trạm
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="classic-menu-dropdown">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true" class="hover-initialized" aria-expanded="false">
                            <i class="fa fa-get-pocket" aria-hidden="true"></i>
                            <span class="navbar-label">CR</span>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="/Admin/CRPartner">
                                    <i class=""></i> CR Đối tác
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/CRMx">
                                    <i class=""></i> CR xin tác động MX lấy tuyến
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/CRHTC">
                                    <i class=""></i> CR HTC
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/CRStation">
                                    <i class=""></i> CR ra và vào trạm
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="classic-menu-dropdown">
                        <a href="/Admin/CSIssue">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span class="navbar-label">CS</span>
                        </a>
                    </li>
                    <li class="classic-menu-dropdown">
                        <a href="/Admin/Report">
                            <i class="fa flaticon2-chart"></i>
                            <span class="navbar-label">Báo cáo</span>
                        </a>
                    </li> *@
                </ul>
            </div>
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse" style="display: none">
                <span></span>
            </a>
            <div class="top-menu">
                <ul class="nav navbar-nav">
                    <form id="form-languageselector" class="hide" action="/Admin/Common/LanguageSelected" method="post" data-ajax="true" data-ajax-complete="onLanguageChangedRequestCompleted();">
                        <input type="hidden" id="userlanguage" value="1">
                    </form>
                    <li class="dropdown dropdown-language">
                        <a href="javascript:;" class="dropdown-toggle" title="Vietnamese" data-toggle="dropdown" aria-expanded="false">
                            <img alt="Vietnamese" src="https://cdn.htc-itc.vn/Content/global/img/flags/vn.svg">
                            <span class="langname">VI</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul id="language-selector" class="dropdown-menu dropdown-menu-default" style="left: -100px">
                            <li disabled="">
                                <a href="javascript:;" data-lang-id="1">
                                    <img alt="Vietnamese" src="https://cdn.htc-itc.vn/Content/global/img/flags/vn.svg">
                                    Vietnamese
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" data-lang-id="2">
                                    <img alt="English" src="https://cdn.htc-itc.vn/Content/global/img/flags/us.svg">
                                    English
                                </a>
                            </li>
                        </ul>
                    </li>
                    <script>
                        $(document).ready(function () {

                            $("#language-selector > li:not(.disabled) > a").click(function () {
                                var el = $(this);
                                var langId = el.data("lang-id");
                                $("#userlanguage").val(langId);
                                $("#form-languageselector").submit();
                            });
                        });

                        function onLanguageChangedRequestCompleted() {
                            location.reload();
                        }
                    </script>
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="icon-user"></i>
                            <span class="username username-hide-on-mobile">
                                demo-ticket
                            </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default" style="left: -28px">
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                    <i class="fa fa-sign-out"></i> Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>

    <!-- Container -->
    <div class="page-container">
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                <div class="page-sidebar-wrapper">
                    @*@{ Html.RenderAction("_MobileMenu", "Common"); }*@
                </div>
            </div>
        </div>
        <div class="page-content-wrapper">
            <div class="page-content" style="margin-left: 0 !important">

                @{
                    await RenderSectionAsync("HeadScripts", false);
                }
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - BaseHA - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!-- Plugins -->
    <script src="~/Content/bundles/js/admin-plugins.js?version=1.0.0.0" type="text/javascript"></script>
    <script src="~/Content/global/plugins/ckeditor/ckeditor.js?version=1.0.0.0" type="text/javascript"></script>

    <script>moment.locale('vi');</script>



    <!-- Theme Scripts -->
    <script src="/Content/bundles/js/admin-theme.js?version=1.0.0.0" type="text/javascript"></script>
    <!-- Application Script -->
    <script src="/Content/bundles/js/app-scripts.js?version=1.0.0.0"></script>
    <script src="/Content/bundles/js/admin-scripts.js?version=1.0.0.0"></script>

    <script src="~/Content/global/plugins/jquery-validation/localization/messages_vi.min.js"></script>

    @{
        await Html.RenderPartialAsync("_AppInit");
    }

    <script>
        // admin.urls
        //admin.urls.clearCache = '@Url.Action("ClearCache", "AdminMvcCommon")';
        // admin.urls.breadcrumb = '@Url.Action("Breadcrumb", "AdminMvcCommon")';

        // app.pjax.init();
        app.init();
        admin.init();

        $(window).on('load', function () {
            $(".page-loader").fadeOut(1000);
        });

    </script>
    <div id="__scriptsSection">
        @await RenderSectionAsync("StartupScripts", false);

        @await RenderSectionAsync("Scripts", required: false)

    </div>
</body>
</html>
