
<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        window.onload = function () {
            if (!sessionStorage['firstLoad']) {
                sessionStorage['firstLoad'] = true;
                window.location.reload();
            }
        };
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BaseHA</title>

    <link rel="apple-touch-icon" href="~/Content/global/img/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/Content/global/img/favicon.ico" />

    <!-- Plugins Styles -->
    <link href="~/Content/bundles/css/admin-plugins.min.css?version=1.0.0.0" rel="stylesheet" />

    <!-- Theme Styles -->
    <link href="~/Content/bundles/css/admin-theme.min.css?version=1.0.0.0" rel="stylesheet" type="text/css" />
    <!-- Custom Styles -->
    <link href="~/Content/bundles/css/app-custom.min.css?version=1.0.0.0" rel="stylesheet" />
    <link href="~/Content/bundles/css/admin-custom.min.css?version=1.0.0.0" rel="stylesheet" type="text/css" />

    <!-- Head Scripts -->
    <script src="~/Content/bundles/js/admin-head-scripts.js?version=1.0.0.0"></script>

    <script src="/Content/global/plugins/kendo-ui/js/cultures/kendo.culture.vi-VN.min.js?version=1.0.0.0"></script>
    <script src="~/Content/global/plugins/kendo-ui/js/messages/kendo.messages.vi-VN.min.js?version=1.0.0.0"></script>
    <script>kendo.culture("vi");</script>
    <script src="@("/Content/global/plugins/globalize/cultures/globalize.culture.vi-VN.js")"></script>
    <script>$.fn.select2.defaults.set('theme', 'bootstrap');</script>

    @{
        await Html.RenderPartialAsync("_Enums");
    }
    @{
        await Html.RenderPartialAsync("_LocaleStringResources");
    }
    <script src="~/Content/bundles/js/app-declares.js?version=1.0.0.0" type="text/javascript"></script>
    <script src="~/Content/bundles/js/admin-declares.js?version=1.0.0.0" type="text/javascript"></script>

</head>
<body>
    <div class="container page-content">
        <main role="main" class="pb-3">
            @{
                await Html.RenderPartialAsync("_Notifications");
            }
           @* @{
                await Html.RenderPartialAsync("~/Views/Shared/Admin/_PjaxStartup.cshtml");
            }*@

            @{
                await RenderSectionAsync("HeadScripts", false);
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - BaseHA - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!-- Plugins -->
    <script src="~/Content/bundles/js/admin-plugins.js?version=1.0.0.0" type="text/javascript"></script>
    <script src="~/Content/global/plugins/ckeditor/ckeditor.js?version=1.0.0.0" type="text/javascript"></script>

    <script>moment.locale('vi');</script>



    <!-- Theme Scripts -->
    <script src="/Content/bundles/js/admin-theme.js?version=1.0.0.0" type="text/javascript"></script>
    <!-- Application Script -->
    <script src="/Content/bundles/js/app-scripts.js?version=1.0.0.0"></script>
    <script src="/Content/bundles/js/admin-scripts.js?version=1.0.0.0"></script>

    <script src="~/Content/global/plugins/jquery-validation/localization/messages_vi.min.js"></script>

    @{
        await Html.RenderPartialAsync("_AppInit");
    }

    <script>
        // admin.urls
        //admin.urls.clearCache = '@Url.Action("ClearCache", "AdminMvcCommon")';
        // admin.urls.breadcrumb = '@Url.Action("Breadcrumb", "AdminMvcCommon")';

        // app.pjax.init();
        app.init();
        admin.init();

        $(window).on('load', function () {
            $(".page-loader").fadeOut(1000);
        });

    </script>
    <div id="__scriptsSection">
        @await RenderSectionAsync("StartupScripts", false);

        @await RenderSectionAsync("Scripts", required: false)

    </div>
</body>
</html>
