@using BaseHA.Application.ModelDto;
@model BeginningCommands
@{
    Layout = null;
}


@if (ViewBag.result != null)
{
    <p>@ViewBag.result</p>
}
<div class="form fixed-layout-form">
    <form id="editForm1" data-form-type="ajax" class="form-horizontal">
        <div class="form-body">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Chỉnh sửa</h4>
            </div>
            <div class="modal-body">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)

                @* <div class="form-group form-group-sm">
                    @Html.LabelFor(m => m.WareHouseId, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.WareHouseId, Model.AvailableWareHouses, "Chọn kho...", new { @class = "form-control", style = "width: 100%" })
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    @Html.LabelFor(m => m.ItemId, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.ItemId, Model.AvailableWareHouses, "Chọn kho sản phẩm...", new { @class = "form-control", style = "width: 100%" })
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    @Html.LabelFor(m => m.UnitId, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.UnitId, Model.AvailableWareHouses, "Chọn đơn vị...", new { @class = "form-control", style = "width: 100%" })
                    </div>
                </div>*@

                <div class="form-group form-group-sm">
                    <label class="control-label  col-md-4" for="UnitName">Mã kho</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.WareHouseId, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label class="control-label  col-md-4" for="UnitName">Mã kho sản phẩm</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.ItemId, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label class="control-label  col-md-4" for="UnitName">Mã đơn vị</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.UnitId, new { @class = "form-control" })
                    </div>
                </div>
 
                <div class="form-group form-group-sm">
                    <label class="control-label  col-md-4" for="UnitName">Tên đơn vị</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.UnitName, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label class="control-label  col-md-4" for="UnitName">Số lượng</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label class="control-label  col-md-4" for="UnitName">Ngày tạo</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.CreatedDate, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label class="control-label  col-md-4" for="UnitName">Ngày sửa đổi</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.ModifiedDate, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="modal-footer form-actions">
                <button type="submit" class="btn blue btn-sm">
                    <i class="fa fa-spinner fa-spin spin-submit"></i>
                    <i class="fa fa-check"></i> Lưu lại
                </button>
                <button type="submit" class="btn blue btn-sm" data-action="continueAdding">
                    <i class="fa fa-spinner fa-spin spin-submit"></i>
                    <i class="fa fa-plus"></i> Tiếp tục thêm
                </button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                    <i class="fa fa-times"></i> Đóng
                </button>
            </div>
        </div>
    </form>
</div>

